

body {
    background-color: rgb(0, 200, 255) ;
   
}
.bird-head {
    
    background-color: black;
    width: 350px;
    height: 400px;
    margin:0 35%;
    border-top-right-radius:120px;
    border-top-left-radius:120px;
    position:absolute;
    bottom:0;
    
    

}

.bird-eye {
    width: 50px;
    height: 50px;
    background-color: #fff;
    position:absolute;
    bottom:230px;
    right: 620px;
    

   
}
/* the beak idea taken from this website "https://alvaromontoro.com/blog/67970/drawing-a-triangle-with-css"*/
 /* transparent value to hide the rest color of the border*/
.bird-beak {
        width: 10px;
        height: 0px;
        border: 100px solid transparent;
        border-right: 0;
        border-left: 200px solid rgb(237, 237, 39);
        position: relative;
        top: 350px;
        left: 797px;
      }

}
